:root {
  --primaryH: #222222;
  --primary_nav: #292727;
  --secondaryH: #58bfdc;
  --secPriH: #45a8c4;
  --secDarkH: #396672;
  --transition: all 0.2s ease-in;
}

header {
  background-color: var(--primaryH);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

a {
  text-decoration: none;
}

header > a,
h1 {
  color: var(--secondaryH);
  font-size: 2.8rem;
}

.navBar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navBar li {
  padding: 0.5rem 1rem;
  background-color: var(--primary_nav);
  border-radius: 5px;
  transition: var(--transition);
}

.navBar li:hover {
  background-color: var(--primaryH);
}

.navBar a {
  color: var(--secPriH);
  transition: var(--transition);
}

.navBar a:hover {
  color: var(--secDarkH);
}
