* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
}

#root {
  margin: auto;
}

.calculator {
  border: 2px solid blue;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
}

.output {
  grid-column: 1 / -1;
  direction: rtl;
  padding: 5px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.btns {
  padding: 5px;
  border: 2px solid pink;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btns:nth-child(18) {
  grid-column: 1 /3;
}