* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #282c34;
  --primaryHover: #272930;
  --primaryActive: #1f2025;
  --background: #303233;
  --themeColor: #1897b9;
  --themeHover: #1c8ead;
  --themeActive: #197d99;
}

body {
  background-color: var(--background);
}

.calculator {
  background-color: var(--background);
  border: 2px solid var(--primary);
  height: 500px;
  width: 40%;
  min-width: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.output {
  grid-column: 1 / -1;
  padding: 10px 5px;
  height: 100%;
  direction: rtl;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;
}

.btns {
  border: 1px solid var(--primaryActive);
  border-radius: 5px;
  padding: 5px;
  background-color: var(--primary);
  color: #fff;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.08s ease-in;
  cursor: default;
}

.btns:hover {
  background-color: var(--primaryHover);
}

.btns:active {
  background-color: var(--primaryActive);
}

.func {
  background-color: var(--themeColor);
  color: #000;
}

.func:hover {
  background-color: var(--themeHover);
}

.func:active {
  background-color: var(--themeActive);
}

.btns:nth-child(18) {
  grid-column: 1 /3;
}

/* Home Page */

section {
  padding: 2rem;
}

section h2 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2rem;
}

.home-wrapper {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  font-size: 1.5rem;
}

/* Calculator Page */

.app {
  display: flex;
  justify-content: space-around;
}

/* Quote */

.quote {
  display: flex;
  height: 50vh;
}

.quote-wrapper {
  font-size: 1.3rem;
  text-align: center;
  margin: auto;
}
